body {
    margin: 0;
}

header {
    display: flex;
}

header ul {
    list-style-type: none;
    margin: 0;

    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
}

header ul .header-items-container {
    display: flex;
    gap: 1em;
}