:root {
    --alignment-padding: 10%;
    --primary-color: #1f2937;
    --secondary-blue-color: #3882f6; 
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*----------Header-------------*/

header {
    display: flex;
    background-color: var(--primary-color);
}

/*Both outer and inner ul have no list-style-type.
  In the header there are no divs.
  header
  -> ul
      -> li (header logo)
      -> ul
          -> li, li, li (three links)*/
header > ul {
    margin: 0;
    padding: 1em var(--alignment-padding);
    list-style-type: none;

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/*Header Logo*/
header > ul > li {
    font-size: 24px;
    color: #f9faf8;
}

/*Three Header Links CONTAINER*/
ul.header-items-container {
    display: flex;
    gap: 1em;
    padding: 0;
    list-style-type: none;
}

/*three header links*/
ul.header-items-container > li {
    font-weight: 200;
    font-size: 18px;
    color: #e5e7eb;
}

/*------------Hero Section--------------*/

section.hero-section {
    display: flex;
    padding: 5em var(--alignment-padding);
    gap: 10em;
    background-color: var(--primary-color);
}

/*Container with Title, Subtitle, & Sign Up Button*/
section.hero-section > div {
    flex: 1;
}

/*"This website is awesome" Title*/
.hero-text-container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

/*Subtitle Text*/
.hero-text-container p {
    font-size: 18px;
    color: #e5e7eb;
}

/*Sign Up Button*/
.hero-text-container button {
    background-color: var(--secondary-blue-color);
    border-radius: 5px;
    padding: 1em 2em;
    border: none;
    color: #e5e7eb;
    font-weight: 700;
    font-family: inherit;
    margin-top: 2em;
    font-size: 15px;
}

/*Quote on Quote, Image*/
section.hero-section .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

/*-----------Random information/4-section section-----------*/

section.random-info-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--alignment-padding);
    column-gap: 1.5rem;
    justify-content: center;
    margin-bottom: 5rem;
}

section.random-info-section h2 {
    width: 100%;
    text-align: center;
    margin: 2em 0;
    font-size: 2rem;
}

section.random-info-section > .random-info-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    max-width: 21ch;
}

section.random-info-section .random-info-card .blue-square {
    border: 4px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    border-color: var(--secondary-blue-color);
}

section.random-info-section .random-info-card p{    
    color: gray;
}


/*----------- Quote Section ---------------*/
figure {
    padding: 5rem var(--alignment-padding);
    border-top: solid 1px;
    border-bottom: solid 1px;
}

figure, figure > blockquote {
    margin: 0;
}

figure > figcaption {
    text-align: end;
}

/*------------------ Call to Action Section ------------------*/

section.cta-section {
    padding: 3% var(--alignment-padding);
    border-bottom: solid 1px;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10%;
    background-color: deepskyblue;
}

.cta-container > h2 {
    margin-top: 0;
}

/*Footer (Copyright Oden Project)*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

footer > p{
    width: fit-content;
    margin: 0 auto;
}

