:root {
    --alignment-padding: 10%;
}

body {
    margin: 0;
}

header {
    display: flex;
}

header ul {
    list-style-type: none;
    margin: 0;

    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em var(--alignment-padding);
}

header ul .header-items-container {
    display: flex;
    gap: 1em;
}

section.hero-section {
    display: flex;
    padding: 0 var(--alignment-padding);
}

section.hero-section div {
    flex: 1;
}

section.hero-section .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}